$bgColorGradient: linear-gradient(to right, #011f2e, #071b25,#0d0f0e, #1c221f);
$bgColorWhite: #eefeff;
$textColorBlack: #333;
$textColorWhite: #eee;
$blueColor: #00beb5;

$fontSmall-X: 11px;
$fontSmall: 16px;
$fontMedium: 21px;
$fontBig: 36px;
$fontHuge: 56px;

$fontDancing: 'Dancing Script', cursive;
$fontPoppins: 'Poppins', sans-serif;
$fontSatisfy: 'Satisfy', cursive;