* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea, input, button {
  border: none;
  outline: 0;
  background-color: none;
  resize: none;
}

textarea:focus, input:focus, button:focus {
  outline: none;
  border: none;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

body {
  background: #f6feff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px auto 60px;
      grid-template-rows: 80px auto 60px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.button {
  padding: 12px 25px;
  border-radius: 5px;
  background-color: #00beb5;
  color: #eee;
  cursor: pointer;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

.button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#011f2e), color-stop(#071b25), color-stop(#0d0f0e), to(#1c221f));
  background: linear-gradient(to right, #011f2e, #071b25, #0d0f0e, #1c221f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

#header #logo {
  color: #eee;
  font-weight: 900;
}

#header #navBar {
  height: 100%;
}

#header #navBar ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

#header #navBar ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #navBar ul li a {
  color: #eee;
  font-size: 16px;
  display: block;
  position: relative;
  font-weight: 600;
}

#header #navBar ul li a::after {
  content: " ";
  background-color: #00beb5;
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: -4px;
  left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#header #navBar ul li a:hover::after {
  width: 100%;
}

#header #navBar ul li a.active::after {
  height: 5px;
  width: 5px;
  bottom: -5px;
  border-radius: 50%;
  left: calc(50% - 4px);
}

#header #Icons {
  display: none;
}

@media (max-width: 700px) {
  #header #navBar {
    display: none;
  }
  #header #navBar.act {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333;
  }
  #header #navBar.act ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header #navBar.act ul a {
    color: #eee;
    font-size: 21px;
  }
  #header #btnLogin {
    display: none;
  }
  #header #btnMobile {
    display: block;
  }
  #header #Icons {
    display: block;
    display: relative;
  }
  #header #Icons .MenuMobile {
    display: block;
  }
  #header #Icons .CloseMenu {
    position: absolute;
    top: -30px;
    right: 30px;
    -webkit-transition: 0s;
    transition: 0s;
    z-index: 1010;
  }
  #header #Icons .CloseMenu.show {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    top: 30px;
  }
}

#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (calc(100vh - 80px))[5];
      grid-template-rows: repeat(5, calc(100vh - 80px));
}

#main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #Home {
  height: calc(75vh);
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#011f2e), color-stop(#071b25), color-stop(#0d0f0e), to(#1c221f));
  background: linear-gradient(to right, #011f2e, #071b25, #0d0f0e, #1c221f);
}

#main #Home #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6feff;
  padding: 70px;
}

#main #Home #content .title {
  font-size: 46px;
}

#main #Home #content .description {
  font-size: 21px;
}

#main #Home .illustration {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px;
}

#main #Home .illustration img {
  position: absolute;
  bottom: -70px;
  right: 10px;
  height: 550px;
  width: 600px;
  border-radius: 150px 30px 30px 30px;
}

#main #Home .details {
  position: absolute;
  bottom: -60px;
  background-color: #f6feff;
  width: 600px;
  height: 120px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

#main #Home .details ul {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main #Home .details ul li span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: content;
      flex-basis: content;
}

#main #Home .details ul li span strong {
  font-size: 16px;
}

#main #Home .details ul li span i img {
  width: 15px;
  height: 12px;
}

#main #Home .details ul li p {
  font-size: 11px;
}

#main #Home .details .buttonSearch {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #Home .details .buttonSearch #btnSearch {
  padding: 20px 40px;
}
/*# sourceMappingURL=style.css.map */